body{
    background-color: darkcyan;

}

a:link {
  color: royalblue;
  text-decoration: none;
}

a:visited {
  color: darkblue;
}

a:hover {
  color: darkblue;
}

section {
  position: absolute;
  width: 800px;
}

.button {
 font-weight: bold;
 font-size: 40px;
 color: rgb(36, 87, 153);
 background-color: rgb(113, 134, 158);
 border: 2px black solid ;
 border-radius: 15px;
 text-decoration: none;
 width: 40px;
 height: 40px;
 text-align: center;
}

#left {
  position: absolute;
  left: 200px;
  top: 80px;
}

#blog_title {
  position: absolute;
  top: 50px;
  left: 250px;
  width: 400px;
}

h1{
  font-size: 40px;
  text-align: center;
  color: cyan;
}
h2 {
  text-align: center;
  color: paleturquoise;
  margin-top: -10px;
}
h4 {
  text-align: center;
  color: aliceblue;
}

#right {
  position: absolute;
  left: 656px;
  top: 80px;
}

#blog_entry {
  position: absolute;
  top: 250px;
  width: 700px;
  margin-left: 100px;
  margin-bottom: 100px;
  color: darkslateblue;
}

p{
    width:  100%;

    margin-right: 30%;
}

#blog_archive{
 right: 0;
 top: 80px;
 position: absolute;
 width: 200px;
 height: 100%;
 border: 1px solid black;
 border-radius: 10px;
 padding-left: 30px;
 margin-right: 20px;
 background-color: lightblue;
}

h3 {
    font-size: 30px;

    color: darkblue;
}

ul {
    margin-left: -20px;
    margin-top: -10px;
}

li {
  font-size: 16px;
  color: 886EAE;
}

span {
  font-size: 10px;
}